.item {
    list-style: none;
    background-color: white;
    font-size: 1rem;
    width: 90%;
    margin: 0 2rem 2rem 0;
    height: 2.8rem;
    display: flex;
    justify-content: space-between;
    padding: .2rem .5rem;
    align-items: center;
    font-size: 1.5rem;

}

.item button {
    /* height: .8rem; */
    font-size: .8rem;
    /* width: .4rem; */
    border: .03rem solid black;
    margin: .1rem;
    text-align:center;
    background-color: rgb(192, 91, 91);
    padding-top: 0;
    color: white;
    
}
.red {
    border-right: .5rem solid red;
}

 .green {
    border-right: .5rem solid green;
}